.topbar {
  display: flex;
  flex-direction: row;
}

.text {
  margin-left: 7%;
}

.deleteIcon {
  margin-left: 70%;
  margin-top: 21px;
}

.title {
  margin-left: 10%;
}

.form {
  margin-left: 10%;
  margin-top: 10%;
}

.formText {
  margin-bottom: 10px;
}

.inputText {
  margin-bottom: 5px;
}

.input {
  width: 90%;
}

.btn-populate {
  margin: 60px 0 0 100px;
}

.btn-populate > .btn {
  /* margin-right: 15px; */
  margin-left: 15px;
  font-size: 12px;
  border-radius: 4px;
}

.populate-background .populate {
  background-color: aliceblue;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  height: 450px;
  /* margin-top: -370px;
  margin-left: 55px; */
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) ;
  z-index: 99;
}

.populate-background{
    top:0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.479);
    position: fixed;
    width: 100vw;
    height: 100vh;
}
