.topbar {
  display: flex;
  flex-direction: row;
}

.text {
  margin-left: 7%;
}

.deleteIcon {
  margin-left: 70%;
  margin-top: 21px;
}

.title {
  margin-left: 10%;
}

.form {
  margin-left: 10%;
  margin-top: 10%;
}

.formText {
  margin-bottom: 10px;
}

.inputText {
  margin-bottom: 5px;
}

.input {
  width: 90%;
}

.btn-populate {
  margin: 60px 0 0 225px;
}

.btn-populate > .btn {
  /* margin-right: 15px; */
  margin-left: 15px;
  font-size: 12px;
  border-radius: 4px;
}

.populate-background .populate {
  background-color: aliceblue;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  height: 450px;
  margin-top: -400px;
  margin-left: -20px;
  position: fixed;
  position: absolute;
  z-index: 99;
}
