.container {
  margin: 10% 0 0 30%;
  width: 35%;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
}

.loadingimg {
  width: 20%;
  margin-top: 75px;
  margin-left: 175px;
}

.container .text {
  margin-top: 70px;
  margin-left: 120px;
}
