.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  margin-top: 5%;
}
